<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606796035152-bbmtqt348lep3h2uidp1djeetbp7fkb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606796035152-bbmtqt348lep3h2uidp1djeetbp7fkb6</string>
	<key>API_KEY</key>
	<string>AIzaSyANqXQ_is6Fuo5RxOs7Qb3n4egkFVlAQiY</string>
	<key>GCM_SENDER_ID</key>
	<string>606796035152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BestMealOnMyDevice</string>
	<key>PROJECT_ID</key>
	<string>bestmeal-65d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>bestmeal-65d9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606796035152:ios:09b8f44e557afa14ca8d55</string>
	<key>DATABASE_URL</key>
	<string>https://bestmeal-65d9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>